/* float 속성 해제 */
section .con_1::after {
  content : "";
  clear : both;
  display : block;
}
/* div 가운데 정렬 */
section .left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  /* 세로 중앙 정렬 */
}
section .con_1 .right p {
  text-align: center;
}
/* 이미지 크기가 부모 영역을 넘지 않도록 부모 영역의 최대 크기로 지정 */
section .con_1 .left img {
  /* max-width : 100%; */
  width : 130px; /* 250 -> 130 */
  height : 130px;
  margin-top : 230px;
  margin-bottom: 40px;
}
/* 본문 오른쪽 h3 태그의 글자 크기와 여백 지정 */
section .con_1 .right h3 {
  font-size : 2.25rem;
  margin-bottom : 1rem;
}
/* 본문 오른쪽 h3 태그의 strong 태그 색상 강조 */
section .con_1 .right h3 strong {
  color : #ed4848;
}
/* 본문 오른쪽 p 태그의 크기와 여백 지정 */
section .con_1 .right p {
  font-size : 1.15rem;
  margin : 1rem 0;
}
/* 본문 오른쪽의 아이콘 폰트 크기와 여백 지정 */
section .con_1 .right .social a {
  font-size : 2.5rem;
  margin-right : 0.2rem;
}